<div class="footer">
  <h6>The site of userdata</h6>

  <a href="https://www.facebook.com/" target="_blank"
    ><mat-icon>facebook</mat-icon></a
  >

  <a href="https://www.google.com/" target="_blank"
    ><mat-icon>Google</mat-icon>
  </a>
  <a href="https://www.twitter.com/" target="_blank">
    <mat-icon>Twitter</mat-icon></a
  >
  <a href="https://www.instagram.com/" target="_blank">
    <mat-icon>Instagram</mat-icon></a
  >
  <a href="https://www.linkedin.com/" target="_blank"
    ><mat-icon>Linkedin</mat-icon></a
  >
</div>
